<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sematec.sematecandroidbasicmordadfridays">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TestViewPagerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TestFragmentActivity">
        </activity>
        <activity android:name=".TestNotificationActivity"></activity>
        <activity android:name=".TestCustomViewActivity" />
        <activity android:name=".TestShapeActivity" />
        <activity android:name=".TestWebViewActivity" />
        <activity android:name=".TestShowDialogActivity" />
        <activity
            android:name=".TestDialogActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity android:name=".TestHandlerActivity" />
        <activity android:name=".TestKebabMenuActivity" />
        <activity android:name=".TestBroadcastActivity" />
        <activity android:name=".TestPermissionActivity" />
        <activity android:name=".TestAlertDialogActivity" />
        <activity android:name=".TestVideoViewActivity" />
        <activity android:name=".TestSQLiteActivity" />
        <activity android:name=".TestHTMLActivity" />
        <activity android:name=".TestAsyncHttpClientActivity" />
        <activity android:name=".TestURLConnectionActivity" />
        <activity android:name=".TestThreadActivity" />
        <activity android:name=".TestRecyclerActivity" />
        <activity android:name=".TestDrawerActivity" />
        <activity android:name=".TestSharedPrefrencesActivity" />
        <activity android:name=".TestImplicitActivity" />
        <activity android:name=".TestActivityForResultDestination" />
        <activity android:name=".TestActivityForResult" />
        <activity android:name=".TestNewActivity" />
        <activity android:name=".MainActivity" />

        <receiver android:name=".TestBroadcast">
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE" />
            </intent-filter>
        </receiver>

        <service android:name=".TestService" />
    </application>

</manifest>